/************************************************************************************ channelCreateSearchBox */
            


#createChannelNameInput{ grid-area: cCNInput; }
#createChannelURLInput{ grid-area: cCURLInput; }
#createChannelSelect{ grid-area: cCNSelect; }
#createChannelButton{ grid-area: cCNBtn; }

#createChannelContainer{
    display: grid;

    max-width: 500px;

    padding: 20px;
    margin: 20px;

    background-color: rgb(78, 78, 78);

    align-items: center;
    justify-items: center;

    transition: .3s;
    opacity: .95;
}

#createChannelNameInput, #createChannelURLInput, #createChannelSelect, #createChannelButton{
    max-width: 500px;
    margin: 20px;
}

#createChannelButton{
    background-color: rgb(182, 182, 182);
    padding-left: 5px;
    box-shadow: 3px 3px 2px black;
    
    width: 150px;
    max-width: 150px;
    height: 25px;
    max-height: 25px;
    
    border-radius: 2px 2px 0px 0px;
    border: none;
    outline: none;

    transition: .5s;
}
        #createChannelButton:hover{
            background-color: rgb(192, 255, 187);
            box-shadow: 6px 6px 2px black;
        }



#createChannelSelect {
    display: block;
    width: 200px;
    max-width: 400px;

    font-size: 16px;
    font-weight: 700;
    color: #444;

    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    
    background-color: rgb(189, 189, 189);

    transition: .5s;
}

#createChannelSelect:hover{
    background-color: rgb(228, 228, 228);
    transition: .2s;
    
}