/***************************************************************************** createChannelBox */

#createChannelBoxTextField{ grid-area: cCTextField; }
#createChannelBoxTextSearchFriend{ grid-area: cCTextSearch; }
#createChannelBoxLabelAddFriend{ grid-area: cCFLabelAddFriend; }
#createChannelBoxFriendAllLists{ grid-area: cCAllLists; }
#createChannelBoxFriendList{ grid-area: cCFLAddFrom; }
#createChannelBoxFriendListAdded{ grid-area: cCFLAddTo; }
#createChannelBoxButtonCreateChannel{ grid-area: cCButton; }

#createChannelBox{
    display: grid;
    grid-template-rows: 30px minmax( auto, auto ) 30px;
    grid-template-areas:
    "cCTextField"
    "cCAllLists"
    "cCButton";

    background-color: rgb(26, 48, 48);
    opacity: 0.9;
    
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px #000000;
    border-radius: 5px 0px 5px 0px;

    align-items: center;
    justify-items: center;
}
        #createChannelBox > div {
            align-items: center;
            justify-items: center;

            padding: 20px;
            margin: 20px;
        }
        #createChannelBoxTextSearchFriend, #createChannelBoxLabelAddFriend{
            width: 80%;
            padding: 12px 20px;
            margin: 82px 0;
            box-sizing: border-box;
        }
        #createChannelBoxButtonCreateChannel{
            background-color: rgb(117, 148, 117);
            justify-self: center;
            width: 90px;
            border: none;
            transition: 1s;
        }
                #createChannelBoxButtonCreateChannel:hover{
                    transition: .3s;
                    width: 90px;
                    background-color: rgb(0, 119, 0);
                    border: none;
                }
        #createChannelBoxFriendAllLists{
            width: 90%;
            max-width: 600px;
        }
        #createChannelBoxTextField{
            background-color: rgb(180, 180, 180);
            width: 200px;
            border: none;
            outline: none;
            padding-left: 5px;
            box-shadow: 2px 2px 2px black;
        }