


#box{
    background-color: aquamarine;

    display: grid;
    grid-template-rows: repeat( 3, 20px );

    padding: 10px;
    margin: 10px;

}

#displayChannelBox > div {
    background-color: rgb(127, 146, 255);

    display: grid;

    padding: 10px;
    margin: 10px;

}

#name{
    font-weight: 900;
}
#buddy{
    display: grid;
    grid-template-columns: repeat(10, 50px);
    max-width: 50px;
    max-height: 50px;
    background-image: url('https://www.pinclipart.com/picdir/big/269-2691398_python-logo-clipart-transparent-background-png-download.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#displayChannelMessages{

}