.loginuserform {
    color: white;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    /* margin-left: 800px; */
}

.logininput {
    width: 100%;
    padding: 10px;
    outline: none;
}

.logininput:hover {
    opacity: 0.9;
}

.logininput:focus {
    border: 2px solid black;
}

.logindiv .fa {
    color: white;
}


.loginuser {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    color: white;
    background-color:  rgb(26, 48, 48);
    opacity: 0.9;
}

/*
.loginbutton {
    box-sizing: border-box;
    background-color: rgb(18, 77, 128);
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 80px;
    opacity: 0.8;
    border-radius: 30%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 141px;
    cursor: pointer;
}*/