#container{
    display: grid;
    grid-template-rows: 50px auto 50px;
}

#messageBoxAvatarStatus{ grid-area: mBAS;}
#messageBoxStatus{ grid-area: mBS;}
#messageBoxAvatar{ grid-area: mBA;}

#messageBoxNickDelete{ grid-area: mBND;}
#messageBoxNick{ grid-area: mBN;}
#messageBoxMessageDelete{ grid-area: mBD;}

#messageBoxMessageTime{ grid-area: mBMT;}
#messageBoxMessage{ grid-area: mBM;}

#messageBoxContainer{
    background-image: linear-gradient(rgb(116, 17, 0), rgb(29, 0, 0));;

    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 20px 20px auto;
    grid-template-areas:
    "mBAS mBND"
    "mBAS mBMT"
    "mBM mBM";

    width: 800px;

    border-radius: 10px;

    padding: 5px;
    margin: 10px;
}

        #messageBoxNick{
            font-weight: 900;
        }

        #messageBoxMessageTime{          
            font-size: 10px;
            font-style: italic;
        }
        
        #messageBoxMessage{
            margin: 5px 5px 5px 15px;
        }

#messageBoxNickDelete{
    display: grid;
    grid-template-columns: auto 20px;
    grid-template-areas:
    "mBN mBD";
}

#messageBoxAvatarStatus{
    display: grid;
    grid-template-columns: 10px auto;
    grid-template-areas:
    "mBS mBA";
}

#messageBoxAvatar{
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    box-shadow: 1px 1px 3px black;
}

#messageBoxMessageDelete:empty{
    display: none;
}
        #messageBoxMessageDelete:hover{
            cursor: pointer;
        }

@media screen and ( max-width: 1200px ){
    #messageBoxContainer{    
        width: 80%;
    }
}