/******************************************************************************* messageBox **/
            
#messageBoxUserPic{ grid-area: pic; }
#messageBoxUserName{ grid-area: name; }
#messageBoxUserAdd{ grid-area: userAdd; }
#messageBoxUserMessageTime{ grid-area: time; }
#messageBoxUserMessage{ grid-area: msg; }
#messageBox{
    display: grid;
    /*grid-template: repeat(2, [row] 1fr) / repeat( 2, [col] 1fr);*/
    grid-template-columns: 50px auto 10px;
    grid-template-rows: 25px 25px auto;
    grid-template-areas:
    "pic name name userAdd"
    "pic time time time"
    "msg msg msg msg";

    background-color: rgb(27, 44, 44);
    opacity: 0.9;
    
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px #000000;
    border-radius: 5px 0px 5px 0px;
}
        #messageBoxUserPic{
            background-image: url("https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png");
            background-size: cover;
            background-position: center;
            box-shadow: 5px 5px 5px #000000;
        }
        #messageBoxUserName {
            padding: 10px 0px 5px 20px;
        }
        #messageBoxUserMessageTime {
            padding: 5px 0px 5px 20px;
            font: italic 10px Arial, Helvetica, sans-serif;
        }
        #messageBoxUserMessage {
            padding: 20px 10px 10px 20px;
        }
        #name, #time{
            justify-content: center;
            align-items: center;
        }
        
        #messageBoxUserAdd{
            justify-self: end;
        }
        #time{
        }
        #msg{
        }