.registerForm {
  display: grid;

  width: 600px;
  max-width: 600px;

  min-height: 600px;
  height: 600px;

  padding: 20px;
  margin: 20px;

  background-color: rgb(71, 80, 71);

  align-items: center;
  justify-items: center;

  transition: .3s;
  opacity: .95;
}

@media screen and ( min-width: 1200px ){
  .registerForm{
     width: 1200px;
    max-width: 1200px;
  }
}

/*************************************************************************/
/* .registerButton{
  background-color: rgb(73, 107, 80);
  padding-left: 5px;
  box-shadow: 3px 3px 2px black;
  
  width: 150px;
  max-width: 150px;
  height: 25px;
  max-height: 25px;
  
  border-radius: 2px 2px 0px 0px;
  border: none;
  outline: none;

  transition: .5s;
}

.registerButton:hover{
  background-color: rgb(2, 179, 37);
  box-shadow: 6px 6px 2px rgb(0, 0, 0);
  color: rgb(14, 43, 20);
}

.registerButton:active{
  background-color: rgb(0, 97, 19);
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
} */

  /*************************************************************************/

.label{
  background-color: rgb(211, 211, 211);
  color: rgb(45, 53, 47);
  font-weight: bold;

  min-width: 200px;
  width: auto;
  max-width: 400px;
    
  padding: 20px;
  margin: 20px;

  border-radius: 0px 15px 15px 15px;
    
  box-shadow: 6px 6px 2px rgb(0, 0, 0);
    
  transition: .2s;
}

@media scrreen and ( min-width: 1200px ){
  #label{    
    min-width: 400px;
    width: auto;
    max-width: 600px;    
  }

}

 /*************************************************************************/

 .registerUserFormFields > div{
  padding: 5px;
}